<h2>Recently Added</h2>
<div>
    <% books.forEach(Book =>{ %>
    <a href="/books/<%=Book.id%>">
         <img height="150" width="100" src="<%= Book.coverImagePath%>">
     </a>
    <%})%>
    
    </div>